In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [29]:
dataset=pd.read_csv("insurance_pre.csv")

In [30]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [31]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [32]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [33]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [34]:
independent=dataset[['age','bmi','children','sex_male','smoker_yes']]

In [35]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [36]:
dependent=dataset[['charges']]

In [37]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [38]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
param_grid={'kernel':['rbf,''poly','linear','sigmoid'],
            'C':[10,100,1000,2000,3000],'gamma':['scale', 'auto']}


grid = GridSearchCV(SVR(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(independent, dependent)

Fitting 5 folds for each of 30 candidates, totalling 150 fits

C:\Users\sindhiya maria\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:922: UserWarning: One or more of the test scores are non-finite: [            nan -6.08619573e-03 -1.07639026e-01             nan
 -6.08619573e-03 -1.04753143e-01             nan  5.35224744e-01
 -1.37843088e-01             nan  5.35224744e-01 -1.04753143e-01
             nan  6.93778210e-01 -2.21544064e+00             nan
  6.93778210e-01 -1.04753143e-01             nan  6.86466559e-01
 -7.78112551e+00             nan  6.86466559e-01 -1.04753143e-01
             nan  6.73913747e-01 -1.69838559e+01             nan
  6.73913747e-01 -1.04753143e-01]
  warnings.warn(
C:\Users\sindhiya maria\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GridSearchCV(estimator=SVR(), n_jobs=-1,
             param_grid={'C': [10, 100, 1000, 2000, 3000],
                         'gamma': ['scale', 'auto'],
                         'kernel': ['rbf,poly', 'linear', 'sigmoid']},
             verbose=3)

In [39]:
re=grid.cv_results_


print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'C': 1000, 'gamma': 'scale', 'kernel': 'linear'}:

In [40]:
table=pd.DataFrame.from_dict(re)

In [41]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.010263,0.001398,0.000000,0.000000,10,scale,"rbf,poly","{'C': 10, 'gamma': 'scale', 'kernel': 'rbf,poly'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,30
1,0.098577,0.005631,0.016079,0.001622,10,scale,linear,"{'C': 10, 'gamma': 'scale', 'kernel': 'linear'}",-0.018943,0.029886,0.022167,0.003112,-0.066653,-0.006086,0.034672,9
2,0.121557,0.002984,0.028151,0.001426,10,scale,sigmoid,"{'C': 10, 'gamma': 'scale', 'kernel': 'sigmoid'}",-0.116743,-0.119312,-0.085214,-0.108210,-0.108716,-0.107639,0.012029,16
3,0.003864,0.001305,0.000000,0.000000,10,auto,"rbf,poly","{'C': 10, 'gamma': 'auto', 'kernel': 'rbf,poly'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,27
4,0.095043,0.005999,0.014481,0.000950,10,auto,linear,"{'C': 10, 'gamma': 'auto', 'kernel': 'linear'}",-0.018943,0.029886,0.022167,0.003112,-0.066653,-0.006086,0.034672,9
5,0.079365,0.001729,0.016677,0.000875,10,auto,sigmoid,"{'C': 10, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.115328,-0.113567,-0.081608,-0.106067,-0.107195,-0.104753,0.012107,11
6,0.004095,0.001314,0.000000,0.000000,100,scale,"rbf,poly","{'C': 100, 'gamma': 'scale', 'kernel': 'rbf,po...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
7,0.179101,0.014202,0.015675,0.001777,100,scale,linear,"{'C': 100, 'gamma': 'scale', 'kernel': 'linear'}",0.559313,0.521798,0.547691,0.538805,0.508518,0.535225,0.018122,7
8,0.125401,0.002993,0.027354,0.001118,100,scale,sigmoid,"{'C': 100, 'gamma': 'scale', 'kernel': 'sigmoid'}",-0.142455,-0.160831,-0.117544,-0.137984,-0.130402,-0.137843,0.014263,17
9,0.003091,0.001196,0.000000,0.000000,100,auto,"rbf,poly","{'C': 100, 'gamma': 'auto', 'kernel': 'rbf,poly'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
10,0.176054,0.009852,0.018016,0.003403,100,auto,linear,"{'C': 100, 'gamma': 'auto', 'kernel': 'linear'}",0.559313,0.521798,0.547691,0.538805,0.508518,0.535225,0.018122,7
11,0.073525,0.004880,0.014745,0.003975,100,auto,sigmoid,"{'C': 100, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.115328,-0.113567,-0.081608,-0.106067,-0.107195,-0.104753,0.012107,11
12,0.003783,0.001830,0.000000,0.000000,1000,scale,"rbf,poly","{'C': 1000, 'gamma': 'scale', 'kernel': 'rbf,p...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
13,0.584294,0.083282,0.014379,0.000380,1000,scale,linear,"{'C': 1000, 'gamma': 'scale', 'kernel': 'linear'}",0.736398,0.675162,0.680002,0.699377,0.677952,0.693778,0.022955,1
14,0.119342,0.002424,0.029243,0.004193,1000,scale,sigmoid,"{'C': 1000, 'gamma': 'scale', 'kernel': 'sigmo...",-2.043140,-2.686121,-2.194563,-2.210858,-1.942521,-2.215441,0.255409,18
15,0.002592,0.000797,0.000000,0.000000,1000,auto,"rbf,poly","{'C': 1000, 'gamma': 'auto', 'kernel': 'rbf,po...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,29
16,0.604009,0.069273,0.014775,0.000402,1000,auto,linear,"{'C': 1000, 'gamma': 'auto', 'kernel': 'linear'}",0.736398,0.675162,0.680002,0.699377,0.677952,0.693778,0.022955,1
17,0.076158,0.001847,0.016566,0.000860,1000,auto,sigmoid,"{'C': 1000, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.115328,-0.113567,-0.081608,-0.106067,-0.107195,-0.104753,0.012107,11
18,0.002890,0.001111,0.000000,0.000000,2000,scale,"rbf,poly","{'C': 2000, 'gamma': 'scale', 'kernel': 'rbf,p...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
19,0.981981,0.070042,0.014706,0.000353,2000,scale,linear,"{'C': 2000, 'gamma': 'scale', 'kernel': 'linear'}",0.682349,0.630642,0.750714,0.646368,0.722261,0.686467,0.045056,3
20,0.121089,0.001862,0.026978,0.000423,2000,scale,sigmoid,"{'C': 2000, 'gamma': 'scale', 'kernel': 'sigmo...",-7.209317,-9.282940,-7.776578,-7.745074,-6.891719,-7.781126,0.821557,19
21,0.002197,0.000404,0.000000,0.000000,2000,auto,"rbf,poly","{'C': 2000, 'gamma': 'auto', 'kernel': 'rbf,po...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
22,0.998914,0.051380,0.015082,0.000859,2000,auto,linear,"{'C': 2000, 'gamma': 'auto', 'kernel': 'linear'}",0.682349,0.630642,0.750714,0.646368,0.722261,0.686467,0.045056,3
23,0.074476,0.004577,0.016371,0.001161,2000,auto,sigmoid,"{'C': 2000, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.115328,-0.113567,-0.081608,-0.106067,-0.107195,-0.104753,0.012107,11
24,0.002893,0.000916,0.000000,0.000000,3000,scale,"rbf,poly","{'C': 3000, 'gamma': 'scale', 'kernel': 'rbf,p...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,26
25,1.728363,0.582554,0.013516,0.003115,3000,scale,linear,"{'C': 3000, 'gamma': 'scale', 'kernel': 'linear'}",0.677778,0.626814,0.732806,0.633479,0.698692,0.673914,0.039876,5
26,0.120586,0.001273,0.026950,0.001256,3000,scale,sigmoid,"{'C': 3000, 'gamma': 'scale', 'kernel': 'sigmo...",-15.561853,-20.498908,-17.095474,-16.750877,-15.012168,-16.983856,1.914783,20
27,0.002598,0.000586,0.000000,0.000000,3000,auto,"rbf,poly","{'C': 3000, 'gamma': 'auto', 'kernel': 'rbf,po...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,28
28,1.778396,0.330348,0.012708,0.004794,3000,auto,linear,"{'C': 3000, 'gamma': 'auto', 'kernel': 'linear'}",0.677778,0.626814,0.732806,0.633479,0.698692,0.673914,0.039876,5
29,0.081381,0.002193,0.016572,0.000798,3000,auto,sigmoid,"{'C': 3000, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.115328,-0.113567,-0.081608,-0.106067,-0.107195,-0.104753,0.012107,11

In [42]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:50
BMI:30.9
Children:3
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [43]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[10516.72047425]